/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

section {
    margin: 0px 150px;
}
section li {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    border: 1px solid #cfd0d1;
    /* background-color: #1592E6; */
}
div ul {
    display: flex;
    border: 1px solid #cfd0d1;
    margin: 0px;
}
section li a {
    text-decoration: none;
    color: white;
}
section h6 {
    text-align: center;
    border: 1px solid #CFD0D1;
    background-color: #1592E6;
    width: 1004px;
    padding: 20px;
    margin-left: -12px;
    font-size: 25px;
    color: white;
}
p{
    color: steelblue;
}
